<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="IR Control Manager">
    <meta name="author" content="Greg - Ozie">
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    
    <title>IR Control Manager</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet" />
    <!-- <link href="{{ url_for('static',filename='plugins/bootstrap-toggle/css/bootstrap4-toggle.css') }}" rel="stylesheet">-->
    
    
    <!-- MDI 
    <link href="{{ url_for('static',filename='css/icons/material-design-iconic-font/css/materialdesignicons.min.css') }}"  media="all" rel="stylesheet" type="text/css"> -->


    <link rel="stylesheet" type="text/css" id="theme_style" href="{{ url_for('static',filename='css/style-light.css') }}"/>
    <link rel="stylesheet" type="text/css" id="colour_style" href="{{ url_for('static',filename='css/blue.css') }}"/>
    
    <!--<link rel="stylesheet" type="text/css" id="colour_style" href="{{ url_for('static',filename='plugins/gijgo/gijgo.min.css') }}"/>-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='plugins/jsgrid/jsgrid.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='plugins/jsgrid/jsgrid-theme.min.css') }}" />


    <style>
        #list-actions {
            overflow: scroll;
        }
        .actionerror {
            border: solid 1px red;
            background-color: rgb(250, 183, 183);
        }

        .dda {
            font-size: 20px;
            border: solid 1px #D1DED2;
        }
        .ddd {
            border: solid 1px #D1DED2;
            background-color: white;
        }
        
    </style>

    {% block head %}
    {% endblock head %}

    {% block head_tail %}
    {% endblock head_tail %}
</head>

<body class="fix-header fix-sidebar card-no-border">
{% block page_body %} 

    <div class="preloader" id="overlay" >
            <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
        <div class="alert alert-primary pt-2 pb-2" role="alert">
            Gathering information from all IR devices around... Please wait...
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->



        <header class="">
            <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary fixed-top">
                <a class="navbar-brand" href="javascript:void(0)">IR Control</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul id="menu" class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item menunav-item">
                            <a class="nav-link active"  id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Devices</a>
                        </li>
                        <li class="nav-item menunav-item">
                            <a class="nav-link" id="nav-actions-tab" data-toggle="tab" href="#nav-actions" role="tab" aria-controls="nav-actions" aria-selected="false">Actions</a>
                        </li>
                        <li class="nav-item menunav-item">
                            <a class="nav-link" id="nav-intent-tab" data-toggle="tab" href="#nav-intent" role="tab" aria-controls="nav-intent" aria-selected="false">Intent Builder</a>
                        </li>
                        <li class="nav-item menunav-item">
                            <a class="nav-link" id="nav-help-tab" data-toggle="tab" href="#nav-help" role="tab" aria-controls="nav-help" aria-selected="false">Assistance</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
        
        
      

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                
                {% block body %}
                {% endblock body %}
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-right">
                Created by Ozie - <a href="https://github.com/oziee/IRControl">Github Repo</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
{% endblock page_body %}
    
<!-- REQUIRED SCRIPTS -->
{% block tail_js %}

    

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ url_for('static',filename='plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ url_for('static',filename='plugins/popper/popper.min.js') }}"></script> 
    <script src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='plugins/bootstrap-select/bootstrap-select.min.js') }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static',filename='plugins/bootstrap-toggle/js/bootstrap4-toggle.js') }}"></script> -->
    
    

    <!--jquery validation JavaScript
    <script src="{{ url_for('static',filename='js/validate/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/validate/additional-methods.min.js') }}"></script> -->
    <script src="{{ url_for('static',filename='js/jquery.limitkeypress.min.js') }}"></script>

    <!--<script src="{{ url_for('static',filename='plugins/gijgo/gijgo.min.js') }}"></script>-->
    <script src="{{ url_for('static',filename='plugins/jsgrid/jsgrid.min.js') }}"></script>

 

    <script src="{{ url_for('static',filename='js/index.js') }}"></script>



{% endblock tail_js %}

<script>
    var btns = document.getElementsByClassName("menunav-item");

    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            //current.setAttribute("aria-selected", "false"); 
            //this.className += " active";
            //this.setAttribute("aria-selected", "true"); 
        });
    }



</script>


</body>


</html>

