{% extends 'base.html' %}
{% block head_meta %}
    {{ super() }}


{% endblock %}
{% block body %}
    {{ super() }}

        <div class="tab-content" id="nav-tabContent" >
            <!-- this is the IR Devices panel-->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- each IR device that answers will get its own tab here -->
                <ul class="nav nav-tabs" id="myTab" style="margin-right: 3px;">
                    <!-- Device Tabs-->
                </ul>

                <div class="nodevices" class="mt-2">
                    <div class="alert alert-dark" role="alert">
                        <h4 class="alert-heading">No Devices</h4>
                        <p id="deviceerrorcode">No devices to show. No data to display.</p>
                        <hr>
                        <p class="mb-0">Add some IR Control devices and refresh this page to display their remotes.</p>
                    </div>
                </div>

                <div id="deviceOptions">
                    <div class="card" style="width: 100%; border-top: 0;border-top-left-radius: 0px;">
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-6 " style="margin-top: 7px;">Device Options</div>
                                <div class="col-6  text-right"><button id="deletedevice" type="button" class="btn btn-danger">Delete Device</button></div>
                            </div>
                            
                            <div class="alert alert-danger mt-3 mb-1 ml-1 mr-1 devicedidnotanswer" role="alert">
                                <h4 class="alert-heading">This device did not answer when asked to. It maybe offline. </br></h4>
                                <b>The information displayed here is information stored from the last time it answered</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="deviceHasErrors">
                    <div class="card" style="width: 100%; border-top: 0;">
                        <div class="card-body">
                            <div class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">Device Error!</h4>
                                <p>This device returned an error: </p>
                                <hr>
                                <p class="mb-0">You will need to login to this device and check that the Linux Infrared Remote Control (lirc) setup is complete and that the lirc service is running.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="deviceNoRemotes">
                    <div class="card" style="width: 100%; border-top: 0;">
                        <div class="card-body">
                            <div class="alert alert-dark" role="alert">
                                <h4 class="alert-heading">Device Setup Incomplete!</h4>
                                <p id="deviceerrorcode">This device has no remotes setup.</p>
                                <hr>
                                <p class="mb-0">The Linux Infrared Remote Control (lirc) setup is complete, however the device has no remotes setup. Once you have setup your remote conf files on this device, refresh this page to view your changes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="deviceinfo"> 
                    <div class="card" style="width: 100%; border-top: 0;">    
                        <div class="card-body">
                            <h4 class="card-title">Installed Remotes On This Device</h4>
                            <h5 class="card-subtitle mb-2 text-muted">Give each remote item a range of synonym names. Snips will better understand which remote you talk about.</h5>
                            <div class="row pl-3 pr-3">
                                <div class="col-xs-12">
                                    <div id="gridRemotes"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card pt-2" style="width: 100%;">
                        <div class="card-body">
                            <h4 id="selectedremotecardtitle" class="card-title">Selected Remotes Functions</h4>
                            <h5 class="card-subtitle mb-2 text-muted">Every button known to the system for this remote.</h5>
                            <div class="row pl-3 pr-3">
                                <div class="col-xs-12">
                                    <div id="gridButtons"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- this is the Action Builder panel-->
            <div class="tab-pane fade disabled" id="nav-actions" role="tabpanel" aria-labelledby="nav-actions-tab">
                <div class="nodevices" class="mt-2">
                    <div class="alert alert-dark" role="alert">
                        <h4 class="alert-heading">Actions Unavailable</h4>
                        <p id="deviceerrorcode">No devices to interact with for actions.</p>
                        <hr>
                        <p class="mb-0">Add some IR Control devices and refresh this page to display their remotes.</p>
                    </div>
                </div>
                    
                <div id="actionsdiv" class="row">
                    <div class="col">
                        <div class="card mb-2" style="width: 100%;">
                            <div class="card-body">
                                <h4 class="card-title">Action Builder</h4>
                                <h5 class="card-subtitle mb-2 text-muted">An Action allows you to string together a group of functions served in a single event.</h5><hr>
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1 mr-5">
                                        <h4><select id="selectAction" data-none-selected-text="Click the Create New Action button to begin building your first Action" data-style="dda" class="selectpicker">
                                        </select></h4>
                                    </div>
                                    <div class="mr-3"><button id="btnCreateNewAction" type="button" class="btn btn-success btn-block mb-2">Create New Action</button></div>
                                </div>
                            </div>
                        </div>
                        <div id="actionbuildercard" class="card" style="width: 100%; border-top: 0;border-top-left-radius: 0px;">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <div class="d-flex align-items-center">
                                        <div class="mr-3">Action Title: </div>
                                        <div class="mr-3">
                                            <input id="actionTitle" autocomplete="off" spellcheck="false" value="" style="width: 300px;"></input>
                                            <div id="titleerror" style="display: none;color:red;">(name not unique)</div>
                                        </div>
                                        <div class="mr-3">Synonyms: </div>
                                        <div class="flex-grow-1"><input id="actionTitleSynonyms" autocomplete="off" spellcheck="false" value="" style="width: 100%;"></input></div>
                                        <div class="mr-3"> </div>
                                        <div class=""><button id="btnDeleteAction" type="button" class="btn btn-danger btn-block mb-2">Delete Action</button></div>
                                    </div>
                                </h4>
                                <div class="row pl-3 pr-3">
                                    <div class="col-xs-12">
                                            <div id="actiongrid"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- this is the Intent Builder panel-->
            <div class="tab-pane fade" id="nav-intent" role="tabpanel" aria-labelledby="nav-intent-tab">
                <div class="card mb-2" style="width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Intent Builder</h4>
                        <h5 class="card-subtitle mb-2 text-muted">
                            Intent structure for all Devices, Remotes, Buttons & Action in the IR Control Manager to be entered in the Snips Console slots for the IR Controller app. These items are to be copied into the Snips Console as described <a id="assistantlink" href="javascript:void(0)">here</a>
                        </h5>
                    </div>
                </div>
                
                
                <div class="row">
                        <div class="col-6">
                            <div class="card mb-2" style="width: 100%;">
                                <div class="card-body">
                                    <h3 class="card-title"  style="color: black;">Intent - "ir_control" - Slots</h3>
                                    <hr>
                                    <div class="align-items-center">
                                        <h5 class="card-title">Slot - Devices</h5>
                                        <div id="builderDevices">Nothing to do</div><hr>
                                        <h5 class="card-title">Slot - Remotes</h5>
                                        <div id="builderRemotes">Nothing to do</div><hr>
                                        <h5 class="card-title">Slot - Buttons</h5>
                                        <div id="builderButtons">Nothing to do</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card mb-2" style="width: 100%;">
                                <div class="card-body">
                                    <h3 class="card-title"  style="color: black;">Intent - "ir_action" - Slots</h3>
                                    <hr>
                                    <div class="align-items-center">
                                        <h5 class="card-title">Slot - Actions</h5>
                                        <div id="builderActions">Nothing to do</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                    
            </div>

            <!-- this is the help panel-->
            <div class="tab-pane fade" id="nav-help" role="tabpanel" aria-labelledby="nav-help-tab">

                <div class="alert alert-secondary" role="alert">
                    Help with the IR Client devices check out the <a target="_blank" href="https://github.com/oziee/IRClient" class="alert-link">github site</a>
                </div>
                
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Devices</h4>
                    <hr>
                    <p class="mb-0">The devices menu lists all known and saved information about IR Client devices found on the network. It allows you to construct and edit easy voice abled synonyms to interact with Snips voice platform.</p>
                </div>
                <div class="card">
                    <img class="card-img-top " alt="" src="{{ url_for('static',filename='images/devices.jpg') }}"></img>
                
                    <div class="card-body">
                        <p class="card-text">
                            (1) - Main menu</br>
                            (2) - Tabed manu of all devices found on the network</br>
                            (3) - Deletes the selected device</br>
                            (4) - List of all remotes the selected device has configured in lirc</br>
                            (5) - Remote synonyms. For Snips console you can give items an alternate word to match</br>
                            (6) - Function buttons for the selected remote from (4)</br>
                            (7) - The name of the function button lirc has for the selected remote</br>
                            (8) - Function button synonyms. For Snips console you can give items an alternate word to match</br>
                            (9) - Grid functions. Edit, complete edit or cancel edit, and delete item</br>
                        </p>
                        <p><i>If you delete an item (device, remote, function), but the item is still in the devices lirc list of information, the item will be re-added the next time the page is loaded)</i></p>
                    </div>
                </div>

                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Actions</h4>
                    <hr>
                    <p class="mb-0">The actions menu allows you to build a set of IR Control Actions for IR Clients to process from one voiced instruction, instead of having to say each item to Snips one at a time.</p>
                </div>
                <div class="card">
                    <img class="card-img-top " alt="" src="{{ url_for('static',filename='images/actions.jpg') }}"></img>
                
                    <div class="card-body">
                        <p class="card-text">
                            (1) - Action menu</br>
                            (2) - Dropdown list of Actions that have been build to load. You can then edit or delete the action</br>
                            (3) - Create a new action.</br>
                            (4) - Action Title. Must be unique.</br>
                            (5) - Action synonyms. For Snips console you can give items an alternate word to match this action</br>
                            (6) - Delete the selected action from (2)</br>
                            (7) - The IR Client device</br>
                            (8) - The remote from (7)</br>
                            (9) - The function button of (8)</br>
                            (10) - The selected (7)(8)(9) wait time after this function is made before the next function is started (pause time in seconds(12))</br>
                            (11) - If the function button needs to be held down for a period of time so that the device reacts (some Sony products)</br>
                            (12) - The period of time in seconds to hold the function button down if (11) is checked</br>
                            (13) - Add new item to the list</br>
                            (14) - Delete the action function row</br>
                        </p>
                        <p><i>You can drag and drop rows to re-order their function in the queue</i></p>
                    </div>
                </div>

                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Intent Builder</h4>
                    <hr>
                    <p class="mb-0">The actions menu allows you to build a set of IR Control Actions for IR Clients to process from one voiced instruction, instead of having to say each item to Snips one at a time.</p>
                </div>
                <div class="card">
                    <img class="card-img-top " alt="" src="{{ url_for('static',filename='images/actions.jpg') }}"></img>
                    <div class="card-body">
                        <p class="card-text">
                            (1) - Intent Builder menu</br>
                            (2) - Slot items for the ir_control intent within the IR Control app in the Snips Console</br>
                            (3) - Slot items to be copied and pasted into the console within the device slot in ir_control</br>
                            (4) - Slot items to be copied and pasted into the console within the remote slot in ir_control</br>
                            (5) - Slot items to be copied and pasted into the console within the button slot in ir_control</br>
                            There is also the slots for the <b>ir_action</b> to be placed in the action slots</br>
                        </p>
                        <p><b>All old items if no longer being used should be removed from the console slots before pasting in the current known slots names and synoynms from the Intent Builder page</b></p>
                    </div>

                    <img id="copy" class="card-img-top " alt="" src="{{ url_for('static',filename='images/copy.jpg') }}"></img>
                    <div class="card-body">
                        <p class="card-text">
                            (1) - Copy the text between the *****'s</br>
                        </p>
                    </div>

                    <img class="card-img-top " alt="" src="{{ url_for('static',filename='images/intent.jpg') }}"></img>
                    <div class="card-body">
                        <p class="card-text">
                            Time to login to your Snip Console and open your assistant</br>
                            (1) - With the IR Control app bundle added to your assistant, open the IR Control to add the slot info</br>
                            (2,3,4) - These are the slot items to be edited</br>
                        </p>
                        <p>Note there is also the <b>ir_action</b> intent that holds the action slots that also need to be copied and pasted in there too</p>
                    </div>

                    <img class="card-img-top " alt="" src="{{ url_for('static',filename='images/import.jpg') }}"></img>
                    <div class="card-body">
                        <p class="card-text">
                            Edit the slot ffrom (2,3,4) above</br>
                            <b></b>If there are old items that are no longer needed these should be removed from the slot by deleteing each item before importing new items</b></br>
                            (1) - Open the import box</br>
                        </p>
                    </div>

                    <img class="card-img-top " alt="" src="{{ url_for('static',filename='images/paste.jpg') }}"></img>
                    <div class="card-body">
                        <p class="card-text">
                            With the text copied from the Intent Builder page</br>
                            (1) - Paste into the import box</br>
                            (2) - Click import button</br>
                        </p>
                    </div>

                    <div class="card-body">
                            <p class="card-text">
                                Close the slots</br>
                                Save the Intents and let Snips rebuild the assistant</br>
                                Download and install the new assistant ready for use</br>
                            </p>
                        </div>
                </div>
                
            </div>

        </div>


    
 

{% endblock body %}
